body {
    max-width: 800px;
    margin: auto;
    }
    h1, h2, p, a, summary {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0px;
        }
    header {
        padding: 50px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 20px;
        border-bottom: white 2px solid;
    }
    header p {
        margin-top: 10px;
    }
    details {
            background-color: darkgray;
            border: none;
            text-align: left;
            outline: none;
            border-bottom: white 2px solid;
    }
    details summary {
        padding: 16px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }
    details[open] article {
        padding-top: 2px;
        display: block;
        background-color: white;
    }
    details a {
        display: block;
        margin: auto;
        color: black;
        padding: 10px 20px;
        font-size: 12px;
        text-decoration: none;
        }
    details a:hover {
        background-color: #1abc9c;
        color: white;
        font-weight: bold;
    }
    details a p {
        display: inline;
    }
    details img {
        max-height: 24px;
        max-width: 24px;
        margin-right: 10px;
    }
    details a p.hora {
        font-weight: bold;
        color: black;
        margin-right: 10px;
    }
    details a p.pw {
        font-weight: bold;
        color: black;
        font-size: small;
        margin-left: 10px;
    }
    details a p.pw code {
        font-size: large;
        font-weight: normal;
    }
    .separador {
        font-size: 12px;
        font-weight: bold;
        background-color: lightgray;
        margin-top:2px;
        margin-bottom: 2px;
        margin-left: 5px;
        padding: 10px 20px;

    }
    .ATP {
        background-color: #039E5A;
    }
    .ATP a:hover {
        background-color: #039E5A;
        color: white;
    }
    .ATP img {
        max-height: 24px;
        max-width: 24px;
        margin-right: 10px;
    }
    footer {
        display: flex;
        background-color: #1abc9c;
        align-items: flex-start;
        min-height: 90px;
        max-height: 120px;
    }
    footer > div {
        flex: 50%;
        text-align: center;
        text-decoration: none;
        margin: 5px 5px;
        padding: 10px;
    }
    footer > div:hover {
        box-shadow: 2px 2px 2px 2px grey;
    }
    footer img {
        max-height: 60px;
    }
    footer > div a {
        color:white;
        text-decoration: none;
    }
    footer > div:hover a {
        color: white;
        text-decoration: underline;
    }

    @media only screen and (max-width: 600px) {
        footer {
            flex-direction: column;
            max-height:none;
            align-items:center;
            }
        footer > div {
            flex: 94%;
        }
    }